[Unit]
Description=Pi Stats

[Service]
Restart=on-abnormal
StartLimitInterval=14400
StartLimitBurst=10
RestartSec=1
ExecStart=/usr/local/bin/pi-stats -s 1
StandardOutput=append:/var/log/pi-stats.log
StandardError=syslog

[Install]
WantedBy=multi-user.target
